<div class="page-header">
  <h1>
    Friends
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>Friend's Name</th>
        <th>Actions</th>
      </tr>

      <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.name %></td>
        <td>
          <a href="/friends/<%= friend.id %>" class="btn btn-primary">Show</a>

        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
